#navbarProfilePicture {
	height: 40px;
	width: 40px; 
    position: relative;
}  

#profileNavbar{
	padding-bottom: 5px;
	padding-top: 5px; 
}

#footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    background-color: gray; 
}

#content{ 
	position: absolute;
	width: 100%;
	padding-top: 50px; 
	height: 100%;
} 
  
.panel{
	margin: 10px; 
    height: Calc(100% - 20px);
    position: relative;
}

#column{
	padding: 0px;
	height: 100%;
	overflow: hidden;
    position: relative;   
    bottom: 60px;
    padding-top: 60px;
}

body .list-group{
	overflow-y:scroll;   
    position: relative;
    right: 0px;
    bottom: 0px;
    left: 0px;
    top: 0px;
}

.artikel{  
    height: Calc(100% - 60px);
}

#artikel-zusammenfassung{  
  overflow:hidden; 
  line-height: 1.2em; 
  max-height: 4.8em;
}
 

.filter{
	height: 200px;
}

.archiveintraege{
	height: Calc(100% - 200px - 80px);
}

 .linkeUeberschrift {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: normal;
    width: 60%;
    padding-top: 8px;
}

.artikel-titel-container{
	overflow: hidden;
}


 