#navbarProfilePicture {
	height: 40px;
	width: 40px; 
    position: relative;
}  

#profileNavbar{
	padding-bottom: 5px;
	padding-top: 5px;
	 
}

#footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    background-color: #f5f5f5;
}