/* Content */



/* !Content */

/* Navbar */

#navbar-profil-bild {
	height: 40px !important;
	width: 40px; 
    position: relative;
}  

#profileNavbar{
	padding-bottom: 5px;
	padding-top: 5px; 
} 

body .navbar-inverse .navbar-nav > li > a{
	color: #ddd;
}

.nav-item{
	background-color: #222 !important;
	border: 0px !important;
	color: #9d9d9d !important;
}

.nav .btn:hover { 
	color: white !important;
}

.brand-image{
	height: 30px; 
    margin-top: -5px;
    display: inline-block;
}

.divider{
	margin: 0 !important;
}

.link-item{
	padding-top: 8px !important;
	padding-bottom: 8px !important;
}

ul.dropdown-menu{
	padding: 0 !important;
}

/* !Navbar */
  

#div1 {
    width: 350px;
    height: 70px;
    padding: 10px;
    border: 1px solid #aaaaaa;
} 

#content{ 
	position: absolute;
	width: 100%;
	padding-top: 50px; 
	height: 100%;
} 


 
  
body .panel{
	margin: 10px; 
    height: Calc(100% - 20px);
    position: relative;
}

body .column{
	padding: 0px;
	height: 100%;
	overflow: hidden;
    position: relative;
}

body .list-group{
	overflow-y: auto;   
    position: relative;
    right: 0px;
    bottom: 0px;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
}

div span input{
	width: 80px;
}

div.panel-heading .schrift{
	width: Calc(100% - 60px);
	overflow: hidden;
}

body .bild{
	width: 50px;
    margin-top: 5px;
    background-color: blue;
    padding: 4px;
    border-radius: 5px;
    background-color: #8c98bd;
    border-color: #6f8888;
} 

div.panel-heading .bild:hover{ 
    background-color: #5a6faf;
    border-color: #565656;
} 

div.panel-heading .bild path{
	fill: white;
} 

body.modal-open .modal-backdrop{
	opacity: 0;
    z-index: 0;
}

body .ui-widget-content{
	border: 0 !important;
}

.panel-heading a:after{
	content: "" !important;
}

.tag{ 
	margin: 3px;
	padding: 2px;
	border: 1px solid #ddd;
	border-radius: 3px;
}

.btn-group > .btn + .dropdown-toggle{
	color: #9d9d9d !important;
}

#filterprofil{
	border-bottom: 1px solid #a8a8a8;
	position: relative;
	overflow: hidden;
}

.layout{
	position: absolute;
	width: 100%;
	height: 100%;
}

.artikel{  
    height: Calc(100% - 60px);
}

#artikel-zusammenfassung{  
  overflow:hidden; 
  line-height: 1.2em; 
  max-height: 4.8em;
}

.filter-profil-icon{
	height: 25px;
	margin-right: 5px;
	margin-left: 5px;
}

#filter-profil-text{
	vertical-align: middle; 
	font-size: 20px;
	padding-left: 30px;
}

.filter{
	height: 200px;
}

.archiveintraege{
	height: calc(100% - 60px - 180px - 86px);
}

.artikel-ansicht{
	height: 200px;
}

<!-- Quellen Auswahl -->

.quellen-filter{
	height: 80px;
}

.quellen{
	height: Calc(100% - 80px - 80px);
}
 

.fill-width{
	width: 100%;
}

.filterprofile{
	height: Calc(100% - 87px);
}

.filtergruppe-profile{
	height: Calc(100% - 80px);
} 

 .linkeUeberschrift {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: normal;
    padding-top: 8px; 
}

.artikel-titel-container{
	overflow: hidden;
} 
 
.filter-gruppe-profil-entfernen{
	width: 50px; 
	margin-top: 50%; 
	vertical-align: middle;
}

<!-- Firmen styles -->

.mitarbeiter-liste{
	height: Calc(100% - 80px);
}

#firmen-mitarbeiter-hinzufuegen{
	height: 500px;
	margin-bottom: 0px !important; s
}

#filtergruppe-nutzer-modal_body{
	padding: 0px !important;
}

.panel-button-div{
	height: 60px;
	color: black;
    background-color: #8c98bd;
	text-align: center;
	vertical-align: middle;
	line-height: 60px;
} 

.panel-button-div:hover{ 
    background-color: #5a6faf;
}

.panel-button-div:focus:active{ 
    background-color: #466de2;
}


.container-parent{
	
}

.container-row{ 
	height: 40px;
}

.auto-twitter-info{
	position: absolute;
	bottom: 5px;
}

.artikel-optionen-buttons{
	position: absolute !important;
	bottom: 5px; 
	right: 5px;
}

.artikel-bild{ 
	opacity: 0.8;
	width: 180px;"
}

.container-auto-row{ 
}

.twitter-info{
	color: #616161; 
    font-size: 18px;
    margin-top: 8px;

}

.twitter-info-icon{
	margin: 4px !important;
}

.zeit-button{
	width: 33% !important;
	margin: 2px !important;
}

.style-entfernen{
	background: transparent !important;
	border: 0px;
}

.style-entfernen :hover{
	background: transparent;
}

.style-entfernen :active :hover{
	background: transparent;
}

.style-entfernen :active{
	background: transparent;
}

.style-entfernen :visited{
	background: transparent;
}

.ui-state-highlight{
	background: gray !important;
}
