#navbarProfilePicture {
	height: 40px;
	width: 40px; 
    position: relative;
}  

#profileNavbar{
	padding-bottom: 5px;
	padding-top: 5px; 
}

#footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    background-color: gray; 
}

#div1 {
    width: 350px;
    height: 70px;
    padding: 10px;
    border: 1px solid #aaaaaa;
} 

#content{ 
	position: absolute;
	width: 100%;
	padding-top: 50px; 
	height: 100%;
} 
  
body .panel{
	margin: 10px; 
    height: Calc(100% - 20px);
    position: relative;
}

body .column{
	padding: 0px;
	height: 100%;
	overflow: hidden;
    position: relative;   
    bottom: 60px;
    padding-top: 60px;
}

body .list-group{
	overflow-y: auto;   
    position: relative;
    right: 0px;
    bottom: 0px;
    left: 0px;
    top: 0px;
    width: 100%;
}

div span input{
	width: 80px;
}



body div .ui-widget-content{
	border: 0px;
}

.tag{ 
	margin: 3px;
	padding: 2px;
	border: 1px solid #ddd;
	border-radius: 3px;
}

.nav-item{
	background-color: #222;
	border: 0px;
	color: #9d9d9d;
}

#filterprofil{
	border-bottom: 1px solid #a8a8a8;
	position: relative;
	overflow: hidden;
}

.layout{
	position: absolute;
	width: 100%;
	height: 100%;
}

.artikel{  
    height: Calc(100% - 60px);
}

#artikel-zusammenfassung{  
  overflow:hidden; 
  line-height: 1.2em; 
  max-height: 4.8em;
}

.filter-profil-icon{
	height: 25px;
	margin-right: 5px;
	margin-left: 5px;
}

#filter-profil-text{
	vertical-align: middle; 
	font-size: 20px;
	padding-left: 30px;
}

.filter{
	height: 200px;
}

.archiveintraege{
	height: Calc(100% - 200px - 80px);
}

.filterprofile{
	height: Calc(100% - 80px);
}

.filtergruppe-profile{
	height: Calc(100% - 80px);
} 

 .linkeUeberschrift {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: normal;
    padding-top: 8px; 
}

.artikel-titel-container{
	overflow: hidden;
}

.panel-body{
	
}
 
.filter-gruppe-profil-entfernen{
	width: 50px; 
	margin-top: 50%; 
	vertical-align: middle;
}


 